[submodule "SneakerPricePrediction"]
	path = SneakerPricePrediction
	url = https://github.com/JacobJustice/SneakerPricePrediction.git
[submodule "StockXScraper"]
	path = StockXScraper
	url = https://github.com/JacobJustice/StockX-Scraper.git
[submodule "SneakerDataVisualization"]
	path = SneakerDataVisualization
	url = https://github.com/JacobJustice/SneakerDataVisualization.git
[submodule "DataCleaning"]
	path = DataCleaning
	url = https://github.com/JacobJustice/Data-Cleaning.git
